<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Marionette todoMVC</title>
	
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body>

<!-- Derrick - TodoMVC -->
<section id="todoapp">
	<header id="header"></header>
	<section id="main"></section>
	<footer id="footer"></footer>
</section>

<footer id="info">
	<p>Double-click to edit a todo</p>
	<p>
		Created by <a href="http://github.com/jsoverson">Jarrod Overson</a>
		and <a href="http://github.com/derickbailey">Derick Bailey</a>
		using <a href="http://marionettejs.com">Backbone.Marionette</a>
	</p>
	<p>Further variations on the Backbone.Marionette app are also <a href="https://github.com/marionettejs/backbone.marionette/wiki/Projects-and-websites-using-marionette">available</a>.</p>
</footer>
<!-- //Derrick - TodoMVC -->

<!-- ========== template ========== -->
<script type="text/html" id="template-footer">
	<span id="todo-count">
		<strong><%= activeCount %></strong> <%= activeCountLabel() %>
	</span>
	<ul id="filters">
		<li>
			<a href="#">All</a>
		</li>
		<li>
			<a href="#active">Active</a>
		</li>
		<li>
			<a href="#completed">Completed</a>
		</li>
	</ul>
	<button id="clear-completed" <% if (!completedCount) { %>class="hidden"<% } %>>
		Clear completed (<%= completedCount %>)
	</button>
</script>

<script type="text/html" id="template-header">
	<h1>todos</h1>
	<input id="new-todo" placeholder="What needs to be done?" autofocus>
</script>

<script type="text/html" id="template-todoItemView">
	<div class="view">
		<input class="toggle" type="checkbox" <% if (completed) { %>checked<% } %>>
		<label><%- title %></label>
		<button class="destroy"></button>
	</div>
	<input class="edit" value="<%- title %>">
</script>

<script type="text/html" id="template-todoListCompositeView">
	<input id="toggle-all" type="checkbox">
	<label for="toggle-all">Mark all as complete</label>
	<ul id="todo-list"></ul>
</script>
<!-- ========== template ========== -->
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/json2.js"></script>
<script type="text/javascript" src="../js/underscore.js"></script>
<script type="text/javascript" src="../js/backbone.js"></script>
<script type="text/javascript" src="../js/backbone.localStorage.js"></script>
<script type="text/javascript" src="../js/backbone.marionette.js"></script>

<script type="text/javascript" src="js/TodoMVC.js"></script>
<script type="text/javascript" src="js/TodoMVC.Todos.js"></script>
<script type="text/javascript" src="js/TodoMVC.Layout.js"></script>
<script type="text/javascript" src="js/TodoMVC.TodoList.js"></script>
<script type="text/javascript" src="js/TodoMVC.TodoList.Views.js"></script>

<script type="text/javascript">
	$(function(){
		// ( js/TodoMVC.js에 정의된 ) TodoMVC를 시작한다.
		TodoMVC.start();
	});
</script>
</body>
</html>







