<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>무제 문서</title>
	
	<script src="../../js/jquery.js"></script>
	<script src="../../js/json2.js"></script>
	<script src="../../js/underscore.js"></script>
	<script src="../../js/backbone.js"></script>
	<script src="../../js/backbone.marionette.js"></script>
</head>
<body>

<script id="row-template" type="text/html">
	<td><%= someData %><input type="checkbox" /></td>
	<td><%= moreData %></td>
	<td><%= stuff %></td>
</script>

<script id="table-template" type="text/html">
	<table border="1">
		<thead>
			<tr>
				<th scope="col">Some Column</th>
				<th scope="col">Another Column</th>
				<th scope="col">Still More</th>
			</tr>
		</thead>
		
		<!-- want to insert collection items, here -->
		<tbody></tbody>
		
		<tfoot>
			<tr>
				<td colspan="3"><input type="checkbox" /> some footer information</td>
			</tr>
		</tfoot>
	</table>
</script>

<script type="text/javascript">
RowView = Backbone.Marionette.ItemView.extend({
	tagName: "tr",
	template: "#row-template"
	, ui : {
		checkbox : "input[type=checkbox]",
		td : "td"
	}
	, onRender : function(){
		console.log( "RowView - td : ", this.ui.td );
		console.log( "RowView - checkbox : ", this.ui.checkbox );
		console.log( "----------------------------------------" );
	}
});

TableView = Backbone.Marionette.CompositeView.extend({
	template : "#table-template"
	, itemView : RowView
	, itemViewContainer : "tbody"
	, ui : {
		checkbox : "input[type=checkbox]",
		td : "td"
	}
	, onRender : function(){
		console.log( "TableView - td : ", this.ui.td );
		console.log( "TableView - checkbox : ", this.ui.checkbox );
	}
});

// ============================================================

var Person = Backbone.Model.extend({
	defaults : { someData : "없음", moreData : "없음", stuff : "없음" }
});
	
var People = Backbone.Collection.extend({
	model : Person
});
	
/* create collection */
var people = new People([{ someData : "?????", stuff : "jiman1" }, { stuff : "jiman2" }, { stuff : "jiman3" }]);

var tableView = new TableView({ collection : people });
$("body").append( tableView.render().el );
</script>

</body>
</html>














