<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>무제 문서</title>
	
	<script src="../../js/jquery.js"></script>
	<script src="../../js/json2.js"></script>
	<script src="../../js/underscore.js"></script>
	<script src="../../js/backbone.js"></script>
	<script src="../../js/backbone.marionette.js"></script>
</head>
<body>

<div id="list"></div>

<script id="some-template" type="text/html">
	<ul>
		<% _.each(items, function(item){ %>
			<li><%= item.name %></li>
		<% }); %>
	</ul>
</script>

<script type="text/javascript">
	var Person = Backbone.Model.extend({
		defaults : { name : "null" }
	});
	
	var People = Backbone.Collection.extend({
		model : Person
	});
	
	var MyView = Marionette.ItemView.extend({
		template : "#some-template"
		
		, initialize : function(){
			this.listenTo(this.collection, "add", this.modelAdd);
		}
		
		, modelChange : function(){
			console.log( "model:change:name" );
		}
		
		, modelAdd : function(){
			console.log( "collection:add" );
		}
		
		, onDomRefresh : function(){
			// manipulate the `el` here. it's already been rendered, 
			// and is full of the view's HTML, ready to go.

			this.el.style.border = "10px solid red";
			console.log( "method - onDomRefresh" );
		}	
	});

	/* create collection */
	var people = new People();
	people.add([
		{ name : "jiman" },
		{ name : "name1" },
		{ name : "name2" }
	]);

	var view = new MyView({ collection : people });
	$("#list").append( view.render().el );
	
	view.on("dom:refresh", function(){
		console.log( "event - dom:refresh" );
	});
	
	view.collection.add({ name : "sy" });
	view.render();
	
	// view.trigger("dom:refresh");          // event 실행
	// view.onDomRefresh();                 // method 실행
	// view.triggerMethod("dom:refresh"); // event, method 실행
</script>

</body>
</html>







