<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>무제 문서</title>
	
	<script src="../../js/jquery.js"></script>
	<script src="../../js/json2.js"></script>
	<script src="../../js/underscore.js"></script>
	<script src="../../js/backbone.js"></script>
	<script src="../../js/backbone.marionette.js"></script>
</head>
<body>

<script id="template-layout" type="text/template">
	<section>
		<nav id="menu">...menu...</nav>
		<article id="content">...content...</article>
	</section>
</script>

<script id="template-menu" type="text/template">
	menu~~~~~
</script>

<script id="template-content" type="text/template">
	content~~~~~~
</script>

<script type="text/javascript">
var MenuView = Backbone.Marionette.ItemView.extend({
	template : "#template-menu"
});

var ContentView = Backbone.Marionette.ItemView.extend({
	template : "#template-content"
});

var AppLayout = Backbone.Marionette.Layout.extend({
	template: "#template-layout"

	, regions : {
		menu : "#menu",
		content : "#content"
	}
});

var layout = new AppLayout();
$("body").append( layout.render().el );

layout.menu.show(new MenuView);
layout.content.show(new ContentView);
</script>

</body>
</html>

