<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>무제 문서</title>
	
	<script src="../../js/jquery.js"></script>
	<script src="../../js/json2.js"></script>
	<script src="../../js/underscore.js"></script>
	<script src="../../js/backbone.js"></script>
	<script src="../../js/backbone.marionette.js"></script>
</head>
<body>

<div id="list"></div>

<script type="text/template" id="some-template">
	name : <%= name %> + some-template
</script>

<script type="text/template" id="different-template">
	name : <%= name %> + different-template
</script>

<script type="text/javascript">
	var Person = Backbone.Model.extend({
		defaults : { name : "null", age : undefined }
	});
	
	var MyView = Marionette.ItemView.extend({
		template : "#some-template"
		
		, getTemplate : function(){
			if (this.model.get("age")){
				return "#some-template";
			} else {
				return "#different-template";
			}
		}
	});

	// 실행코드
	var p = new Person({ name : "jiman" });
	
	var view = new MyView({ model : p });
	$("#list").append( view.render().el );
	
</script>

</body>
</html>


