<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>무제 문서</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/qunit/qunit-1.10.0.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.0.0-rc.3/lodash.underscore.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js "></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.10.0.css">
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>

<div id="container">
	<ul id="list"></ul>
</div>

<script type="text/template" id="template1">
<li>
	<a target="<%= target %>" href="<%= href %>"><%= text %></a>
</li>
</script>

<script type="text/javascript">
	// model
	var Link = Backbone.Model.extend({
		defaults : { text : "", href : "#", target : "_self" }
	});

	// view
	var linksView  = Backbone.View.extend({
		initialize : function(){
			this.listenTo(this.model, "destroy", this.remove); 
		}
		, events : {

		}
		, tagName : "div"
		, template : _.template( $("#template1").html() )
		, render : function(){
			this.$el.html( this.template(this.model.toJSON()) );
			return this;
		}
		, delete : function(){
			this.model.destroy();
		}
	});


	// 기존의 localStorage 지우기
	localStorage.clear();
	
	var alink = new Link({ text : "구글", href : "http://www.google.co.kr", target : "_blank" });

	var view = new linksView({ model : alink });
	view.setElement("#list").render();	
	
	/* 두 코드의 결과는 같다.
	 * view.setElement("#list").render();	
	 * $("#list").append( view.render().el );
	*/

</script>

</body>
</html>














